.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.breadcrumbs {
  font-family: var(--font-mono);
  font-size: .8rem;
  font-weight: bold;
}

.editorContainer {
  flex-grow: 1;
}
