.item {

}

.head {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 12px;
}

.head > :last-child {
  text-align: right;
}

.head:hover :nth-child(2) {
  text-decoration: underline;
}

.chevron {
  margin-right: 12px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.name {
  font-family: var(--font-mono);
}

.flags {
  flex-grow: 1;
  margin-left: 8px;
}

.body {
  margin: 0 0 2rem .5rem;
  border-left: 4px solid var(--text-on-bg);
  padding: 0 0 0 1rem;
}

.inlineSignature {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 20%;
}

.details {
  margin-top: 8px;
}

.detailLine {
  color: var(--docs-item-detail-line-text);
  margin: 0;
  font-size: .8rem;
}
