.container {
}

.container h1 {
  font-weight: normal;
  font-family: var(--font-mono);
  display: flex;
  align-items: center;
}

.container h2 {

}

.flag {

}

.description {
  font-size: .9rem;
}
.description p {
  margin: 10px 0;
}

.descriptionTag {
  font-weight: bold;
  font-family: var(--font-mono);
}
.descriptionTagContainer {
}


.signature {
  font-family: var(--font-mono);
  white-space: pre-wrap;
  word-wrap: break-word;
}
.signature a {
  text-decoration: underline;
}

.codeblock {
  background-color: var(--sidebar);
  color: var(--text-on-sidebar);
  padding: 8px 16px;
}
