.sidebar {
  background-color: var(--sidebar);
  color: var(--text-on-sidebar);
  min-width: 300px;
  height: 100%;
  overflow: auto;
}

.sidebarHeader {
  font-size: 1.4rem;
  margin: 2rem 20px 12px 20px;
}

h1.sidebarHeader {
  font-size: 2rem;
  margin: 3rem 40px 16px 20px !important;
}

.sidebarItem {
  display: flex;
  align-items: center;
  font-size: .9rem;
  padding: 2px 20px;
  cursor: pointer;
}
.sidebarItem:hover {
  background-color: var(--sidebar-item-hover);
}
.sidebarItem:active {
  background-color: var(--sidebar-item-active);
}
.sidebarItem > svg {
  margin-right: 4px;
}

.sideBarItemSelected {
  background-color: var(--sidebar-item-active);
}
.sideBarItemSelected:hover {
  background-color: var(--sidebar-item-active);
}
