.dialog {
  min-width: 400px;
  max-width: 800px;
  padding: 0 !important;
}

.input {
  margin: 0;
  padding: 16px;
  width: 100%;
}

.input:focus {
  outline: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.itemButton {
}

.itemListItem {
  font-family: var(--font-mono);
  background-color: var(--search-item-bg);
  color: var(--search-item-text);
  padding: 4px 12px;
}

.itemButton:hover .itemListItem, .list:not(:hover) .itemButton:focus .itemListItem {
  background-color: var(--search-item-bg-hover);
}
